/* Global styles */
.container {
  max-width: 900px;
  margin: 0 auto;
  
}

/* Title styles */

h1, h2{
  font-weight: bold;
  line-height: 1.2;
  color: darkblue;
  background-color: rgb(223, 235, 240);
  margin: auto;
}


h1 {
  font-size: 36px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: darkblue;
}

.info, .contact-info {
  margin-top: 10px;
  line-height: 1.5;
}

.info li, .contact-info li {
  display: inline-block;
  line-height: 1.5;
  margin-right: 10px;

}

.info li i, .contact-info li i {
  margin-right: 5px;
  font-size: 18px;
}


/* Main content styles */
main {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 30px;
}

section {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin-top: 0;
  font-size: 20px;
}

ul {
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  list-style-type: circle;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

/*
li::before {
  content: "•";
  color: #0077c0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
*/

.skills ul li::before {
  content: "";
  color: #0077c0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.skill-table {
  border-collapse: separate;
  width: 100%;
}

.skill-table th,
.skill-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.skill-table th {
  background-color: #f2f2f2;
}

.skill-table tbody tr:nth-child(even) {
  background-color: rgb(223, 235, 240);
}
