/* style.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.info {
    margin-bottom: 20px;
}

.info span {
    font-weight: bold;
}
